@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

@font-face {
    font-family: "Amazon Ember"; 
    src: url("//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember");
    font-style: normal;
    font-weight: 50;
  }


*{
  margin: 0 auto;
  padding: 0 auto;
}

 body {
    font-family: "Amazon Ember"; 
    background-color:#222222;
    max-height: 150rem;
    max-width: 100%;
    color: whitesmoke;
    /* overflow-x: hidden; */

    
  
}
 .App {
  /* border: 1px solid red; */
  height: 150rem;
}

.App-header {
  background-color: #303030;
}
 .alien { 
  position: absolute;
  right: 0%;
  margin-right:0;
  margin-left: auto;
  display:block;

}
.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;

}
.movie-titles {
  
}
.title-card{
  position: absolute;
  max-width: 80rem;
  background-color: #303030;
  display: flex;
  flex-wrap: nowrap;
}
.movie-box {
  max-width: 80rem;
  border: 1px solid black;
  margin: 15px;
  margin-top: 15px;
  background-color: #303030
}

.batman {
  max-width: 250px;
  margin: 1rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}



